In [1]:
from DFL_data import parse_dfl_pos_data

In [2]:
pos_filepath = 'DFL_04_02_positions_raw_DFL-COM-000001_DFL-MAT-0027AD.xml'
mi_filepath = 'DFL_02_01_matchinformation_DFL-COM-000001_DFL-MAT-0027AD.xml'

In [3]:
df, rangex, rangey = parse_dfl_pos_data(pos_filepath=pos_filepath, mi_filepath=mi_filepath)
df

,ball_x,ball_y,ballstatus,possession,GameSection,Time,Time [s],Home_30_x,Home_30_y,Home_27_x,...,Away_15_y,Away_5_x,Away_5_y,Away_4_x,Away_4_y,Away_11_x,Away_11_y,Away_17_x,Away_17_y,Period
0,-0.38,-0.28,1.0,2.0,firstHalf,00:00:00.000000,0,-15.89,18.66,-9.7,...,33.4,24.99,12.99,NaN,NaN,NaN,NaN,NaN,NaN,1
1,-0.35,-0.3,1.0,2.0,firstHalf,00:00:00.040000,0.04,-15.89,18.66,-9.71,...,33.4,24.99,13.01,NaN,NaN,NaN,NaN,NaN,NaN,1
2,-0.33,-0.32,1.0,2.0,firstHalf,00:00:00.080000,0.08,-15.89,18.66,-9.73,...,33.4,24.99,13.02,NaN,NaN,NaN,NaN,NaN,NaN,1
3,-0.31,-0.33,1.0,2.0,firstHalf,00:00:00.120000,0.12,-15.89,18.66,-9.75,...,33.41,25.01,13.03,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1.09,-0.13,1.0,2.0,firstHalf,00:00:00.160000,0.16,-15.88,18.66,-9.77,...,33.42,25.01,13.05,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137214,23.04,6.63,0.0,2.0,secondHalf,01:31:17.360000,5488.56,NaN,NaN,NaN,...,1.56,8.51,9.1,32.13,33.65,37.0,-0.68,36.97,10.07,2
137215,23.02,6.62,0.0,2.0,secondHalf,01:31:17.400000,5488.6,NaN,NaN,NaN,...,1.57,8.53,9.11,32.1,33.64,36.98,-0.64,36.95,10.11,2
137216,23.01,6.62,0.0,2.0,secondHalf,01:31:17.440000,5488.64,NaN,NaN,NaN,...,1.58,8.54,9.13,32.07,33.63,36.96,-0.61,36.92,10.15,2
137217,23.0,6.61,0.0,2.0,secondHalf,01:31:17.480000,5488.68,NaN,NaN,NaN,...,1.58,8.56,9.13,32.03,33.62,36.94,-0.57,36.9,10.19,2
137218,22.98,6.6,0.0,2.0,secondHalf,01:31:17.520000,5488.72,NaN,NaN,NaN,...,1.59,8.58,9.15,32.0,33.62,36.93,-0.55,36.88,10.23,2