https://www.youtube.com/watch?v=8TrleFklEsE

In [1]:
import sys
sys.path.append('C:\\Users\\DavidB\\PycharmProjects\\My_Football_Analytics\\Basics')

import pandas as pd
import numpy as np
import Data.Metrica_IO as mio

In [2]:
data_dir = 'sample-data-master/data/'
game_id = 2
td = mio.tracking_data(DATADIR=data_dir, game_id=game_id, teamname='Away')
td

Reading team: away

,Period,Time [s],Away_25_x,Away_25_y,Away_15_x,Away_15_y,Away_16_x,Away_16_y,Away_17_x,Away_17_y,...,Away_22_x,Away_22_y,Away_23_x,Away_23_y,Away_24_x,Away_24_y,Away_26_x,Away_26_y,ball_x,ball_y
Frame,,,,,,,,,,,,,,,,,,,,,
1,1,0.04,0.01218,0.51763,0.32891,0.81846,0.30734,0.55182,0.32235,0.38954,...,0.49889,-0.02263,0.50177,0.50145,0.49517,0.36234,NaN,NaN,NaN,NaN
2,1,0.08,0.01218,0.51763,0.32891,0.81846,0.30734,0.55182,0.32235,0.38954,...,0.49889,-0.02263,0.50177,0.50145,0.49517,0.36234,NaN,NaN,NaN,NaN
3,1,0.12,0.01218,0.51763,0.32891,0.81846,0.30734,0.55182,0.32235,0.38954,...,0.49889,-0.02263,0.50177,0.50145,0.49517,0.36234,NaN,NaN,NaN,NaN
4,1,0.16,0.01218,0.51763,0.32836,0.81847,0.30734,0.55182,0.32235,0.38954,...,0.49889,-0.02263,0.50177,0.50145,0.49517,0.36234,NaN,NaN,NaN,NaN
5,1,0.20,0.01218,0.51763,0.32783,0.81847,0.30734,0.55182,0.32235,0.38954,...,0.49889,-0.02263,0.50177,0.50145,0.49517,0.36234,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141152,2,5646.08,0.91211,0.48311,0.49028,-0.05000,0.48911,0.44788,0.59788,0.57468,...,NaN,NaN,0.26855,0.61845,0.36760,0.12496,0.44966,0.41572,NaN,NaN
141153,2,5646.12,0.91191,0.48311,0.49028,-0.05000,0.48894,0.44761,0.59767,0.57509,...,NaN,NaN,0.26855,0.61845,0.36760,0.12496,0.44983,0.41550,NaN,NaN
141154,2,5646.16,0.91168,0.48311,0.49028,-0.05000,0.48888,0.44684,0.59763,0.57550,...,NaN,NaN,0.26855,0.61845,0.36760,0.12496,0.44997,0.41485,NaN,NaN
141155,2,5646.20,0.91151,0.48311,0.49028,-0.05000,0.48895,0.44457,0.59775,0.57590,...,NaN,NaN,0.26855,0.61845,0.36760,0.12496,0.45017,0.41515,NaN,NaN
141156,2,5646.24,0.91116,0.48312,0.49028,-0.05000,0.48826,0.44815,0.59751,0.57631,...,NaN,NaN,0.26855,0.61845,0.36760,0.12496,0.45029,0.41545,NaN,NaN

In [5]:
td_new = mio.to_metric_coordinates(td, origin='bottom_left', in_place=False, field_dimen=(120, 80))
td_new

,Period,Time [s],Away_25_x,Away_25_y,Away_15_x,Away_15_y,Away_16_x,Away_16_y,Away_17_x,Away_17_y,...,Away_22_x,Away_22_y,Away_23_x,Away_23_y,Away_24_x,Away_24_y,Away_26_x,Away_26_y,ball_x,ball_y
Frame,,,,,,,,,,,,,,,,,,,,,
1,1,0.04,1.29108,32.80116,34.86446,12.34472,32.57804,30.47624,34.16910,41.51128,...,52.88234,69.53884,53.18762,33.9014,52.48802,43.36088,NaN,NaN,NaN,NaN
2,1,0.08,1.29108,32.80116,34.86446,12.34472,32.57804,30.47624,34.16910,41.51128,...,52.88234,69.53884,53.18762,33.9014,52.48802,43.36088,NaN,NaN,NaN,NaN
3,1,0.12,1.29108,32.80116,34.86446,12.34472,32.57804,30.47624,34.16910,41.51128,...,52.88234,69.53884,53.18762,33.9014,52.48802,43.36088,NaN,NaN,NaN,NaN
4,1,0.16,1.29108,32.80116,34.80616,12.34404,32.57804,30.47624,34.16910,41.51128,...,52.88234,69.53884,53.18762,33.9014,52.48802,43.36088,NaN,NaN,NaN,NaN
5,1,0.20,1.29108,32.80116,34.74998,12.34404,32.57804,30.47624,34.16910,41.51128,...,52.88234,69.53884,53.18762,33.9014,52.48802,43.36088,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141152,2,5646.08,96.68366,35.14852,51.96968,71.40000,51.84566,37.54416,63.37528,28.92176,...,NaN,NaN,28.46630,25.9454,38.96560,59.50272,47.66396,39.73104,NaN,NaN
141153,2,5646.12,96.66246,35.14852,51.96968,71.40000,51.82764,37.56252,63.35302,28.89388,...,NaN,NaN,28.46630,25.9454,38.96560,59.50272,47.68198,39.74600,NaN,NaN
141154,2,5646.16,96.63808,35.14852,51.96968,71.40000,51.82128,37.61488,63.34878,28.86600,...,NaN,NaN,28.46630,25.9454,38.96560,59.50272,47.69682,39.79020,NaN,NaN
141155,2,5646.20,96.62006,35.14852,51.96968,71.40000,51.82870,37.76924,63.36150,28.83880,...,NaN,NaN,28.46630,25.9454,38.96560,59.50272,47.71802,39.76980,NaN,NaN
141156,2,5646.24,96.58296,35.14784,51.96968,71.40000,51.75556,37.52580,63.33606,28.81092,...,NaN,NaN,28.46630,25.9454,38.96560,59.50272,47.73074,39.74940,NaN,NaN