In [1]:
import pandas as pd
import numpy as np
from EventData import event_data, load_metrica_event_data
from statsbombpy import sb

In [2]:
ed = load_metrica_event_data('sample-data-master/data/Sample_Game_2', 'Sample_Game_2_RawEventsData.csv')
ed

sample-data-master/data/Sample_Game_2/Sample_Game_2_RawEventsData.csv

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,51,2.04,51,2.04,Player23,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,51,2.04,87,3.48,Player23,Player20,0.50,0.50,0.40,0.51
2,Away,PASS,NaN,1,146,5.84,186,7.44,Player20,Player18,0.43,0.50,0.44,0.22
3,Away,PASS,NaN,1,248,9.92,283,11.32,Player18,Player17,0.47,0.19,0.31,0.28
4,Away,PASS,NaN,1,316,12.64,346,13.84,Player17,Player16,0.29,0.32,0.26,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1930,Away,BALL LOST,INTERCEPTION,2,140122,5604.88,140183,5607.32,Player21,NaN,0.54,0.77,0.29,0.24
1931,Home,CHALLENGE,AERIAL-LOST,2,140180,5607.20,140180,5607.20,Player1,NaN,0.31,0.30,NaN,NaN
1932,Away,CHALLENGE,AERIAL-LOST,2,140183,5607.32,140183,5607.32,Player24,NaN,0.32,0.30,NaN,NaN
1933,Home,RECOVERY,NaN,2,140211,5608.44,140211,5608.44,Player12,NaN,0.34,0.32,NaN,NaN
1934,Home,BALL OUT,CLEARANCE,2,140265,5610.60,140298,5611.92,Player12,NaN,0.33,0.16,0.41,-0.04

In [3]:
ED = event_data(data=ed, data_source='metrica')

In [4]:
print(ED)
ED.dimensions

event_data object with data from metrica

{'x': {'data': (0, 1),
  'pitch': (0, 105),
  'delta_data': 1,
  'delta_pitch': 105,
  'scaling_factor': 105.0},
 'y': {'data': (1, 0),
  'pitch': (0, 68),
  'delta_data': -1,
  'delta_pitch': 68,
  'scaling_factor': -68.0}}

In [5]:
ED.data

,Team,Type,Subtype,Period,Start_Frame,Start_Time_[s],End_Frame,End_Time_[s],Player,Receiver,Start_x,Start_y,End_x,End_y
0,Away,SET PIECE,KICK OFF,1,51,2.04,51,2.04,Player23,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,51,2.04,87,3.48,Player23,Player20,52.50,34.00,42.00,33.32
2,Away,PASS,NaN,1,146,5.84,186,7.44,Player20,Player18,45.15,34.00,46.20,53.04
3,Away,PASS,NaN,1,248,9.92,283,11.32,Player18,Player17,49.35,55.08,32.55,48.96
4,Away,PASS,NaN,1,316,12.64,346,13.84,Player17,Player16,30.45,46.24,27.30,28.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1930,Away,BALL LOST,INTERCEPTION,2,140122,5604.88,140183,5607.32,Player21,NaN,48.30,52.36,74.55,16.32
1931,Home,CHALLENGE,AERIAL-LOST,2,140180,5607.20,140180,5607.20,Player1,NaN,72.45,20.40,NaN,NaN
1932,Away,CHALLENGE,AERIAL-LOST,2,140183,5607.32,140183,5607.32,Player24,NaN,71.40,20.40,NaN,NaN
1933,Home,RECOVERY,NaN,2,140211,5608.44,140211,5608.44,Player12,NaN,69.30,21.76,NaN,NaN
1934,Home,BALL OUT,CLEARANCE,2,140265,5610.60,140298,5611.92,Player12,NaN,70.35,10.88,61.95,-2.72

In [6]:
ED.get_event_by_type('SHOT')

,Team,Type,Subtype,Period,Start_Frame,Start_Time_[s],End_Frame,End_Time_[s],Player,Receiver,Start_x,Start_y,End_x,End_y
83,Home,SHOT,OFF TARGET-OUT,1,4419,176.76,4443,177.72,Player5,NaN,13.65,52.36,-2.10,36.72
198,Home,SHOT,ON TARGET-GOAL,1,12202,488.08,12212,488.48,Player10,NaN,5.25,30.60,-1.05,31.96
252,Home,SHOT,ON TARGET-SAVED,1,16484,659.36,16499,659.96,Player10,NaN,11.55,45.56,4.20,34.68
297,Away,SHOT,BLOCKED,1,18515,740.60,18520,740.80,Player22,NaN,84.00,44.20,90.30,45.56
431,Home,SHOT,HEAD-OFF TARGET-OUT,1,27345,1093.80,27360,1094.40,Player3,NaN,9.45,27.88,-1.05,27.88
472,Home,SHOT,ON TARGET-SAVED,1,29754,1190.16,29777,1191.08,Player4,NaN,21.00,20.40,0.00,31.28
823,Away,SHOT,ON TARGET-GOAL,1,53049,2121.96,53075,2123.00,Player24,NaN,96.60,36.72,106.05,35.36
852,Home,SHOT,HEAD-OFF TARGET-OUT,1,56079,2243.16,56131,2245.24,Player5,NaN,10.50,40.12,-2.10,16.32
962,Away,SHOT,OFF TARGET-HEAD-OUT,1,63362,2534.48,63372,2534.88,Player23,NaN,97.65,34.68,106.05,27.20
980,Away,SHOT,ON TARGET-SAVED,1,64772,2590.88,64799,2591.96,Player20,NaN,80.85,30.60,103.95,31.96
1026,Home,SHOT,OFF TARGET-OUT,1,67067,2682.68,67107,2684.28,Player7,NaN,13.65,15.64,-2.10,40.12
1058,Away,SHOT,OFF TARGET-OUT,2,69887,2795.48,69927,2797.08,Player21,NaN,82.95,44.88,108.15,25.84
1118,Home,SHOT,HEAD-ON TARGET-GOAL,2,73983,2959.32,73995,2959.80,Player9,NaN,5.25,35.36,-1.05,36.04
1277,Away,SHOT,OFF TARGET-OUT,2,86191,3447.64,86219,3448.76,Player19,NaN,85.05,36.72,107.10,40.12
1335,Away,SHOT,ON TARGET-SAVED,2,90165,3606.60,90176,3607.04,Player19,NaN,98.70,22.44,103.95,31.28
1479,Home,SHOT,ON TARGET-SAVED,2,98880,3955.20,98896,3955.84,Player10,NaN,4.20,29.92,1.05,30.60
1666,Away,SHOT,BLOCKED,2,111758,4470.32,111763,4470.52,Player24,NaN,95.55,26.52,98.70,30.60
1671,Away,SHOT,ON TARGET-GOAL,2,115009,4600.36,115024,4600.96,Player20,NaN,92.40,35.36,107.10,36.72
1681,Home,SHOT,HEAD-OFF TARGET-OUT,2,117218,4688.72,117245,4689.80,Player9,NaN,11.55,41.48,-1.05,28.56
1723,Home,SHOT,ON TARGET-GOAL,2,121027,4841.08,121055,4842.20,Player12,NaN,22.05,39.44,-1.05,36.72
1756,Home,SHOT,HEAD-OFF TARGET-OUT,2,124336,4973.44,124365,4974.60,Player9,NaN,7.35,34.00,-2.10,41.48
1843,Away,SHOT,OFF TARGET-OUT,2,132570,5302.80,132597,5303.88,Player18,NaN,86.10,25.84,109.20,31.96
1903,Away,SHOT,HEAD-OFF TARGET-OUT,2,136060,5442.40,136078,5443.12,Player 26,NaN,99.75,31.28,108.15,27.88
1927,Home,SHOT,ON TARGET-SAVED,2,139891,5595.64,139925,5597.00,Player9,NaN,31.50,35.36,2.10,35.36

In [7]:
ED.data.iloc[1334]

Team                  Away
Type                  PASS
Subtype                NaN
Period                   2
Start_Frame          90135
Start_Time_[s]      3605.4
End_Frame            90165
End_Time_[s]        3606.6
Player            Player24
Receiver          Player19
Start_x              87.15
Start_y              19.04
End_x                 98.7
End_y                22.44
Name: 1334, dtype: object

In [8]:
sb_ed = sb.events(match_id=3857261)

In [9]:
SB_ED = event_data(sb_ed, data_source='Statsbomb')

mirror x away

In [10]:
SB_ED.data

,org_index,Team,Type,Subtype,Outcome,Period,Timestamp,Player,Start_x,Start_y,End_x,End_y
0,0,Wales,Starting XI,"{'formation': 4231, 'lineup': [{'player': {'id...",NaN,1,00:00:00.000,NaN,NaN,NaN,NaN,NaN
1,1,England,Starting XI,"{'formation': 433, 'lineup': [{'player': {'id'...",NaN,1,00:00:00.000,NaN,NaN,NaN,NaN,NaN
2,2,Wales,Half Start,NaN,NaN,1,00:00:00.000,NaN,NaN,NaN,NaN,NaN
3,3,England,Half Start,NaN,NaN,1,00:00:00.000,NaN,NaN,NaN,NaN,NaN
4,6,Wales,Pass,NaN,Complete,1,00:00:00.371,Aaron Ramsey,52.5000,34.000,31.9375,43.605
...,...,...,...,...,...,...,...,...,...,...,...,...
3311,3145,England,Dribble,NaN,Complete,2,00:48:58.379,Jack Grealish,13.0375,53.890,NaN,NaN
3312,986,England,Pass,NaN,Complete,2,00:48:59.551,Jack Grealish,10.6750,56.610,19.3375,62.985
3313,3310,England,Half End,NaN,NaN,2,00:49:00.329,NaN,NaN,NaN,NaN,NaN
3314,3311,Wales,Half End,NaN,NaN,2,00:49:00.329,NaN,NaN,NaN,NaN,NaN
3315,1933,England,Ball Receipt*,NaN,Complete,2,00:49:00.726,Jordan Brian Henderson,19.3375,62.985,NaN,NaN

In [11]:
SB_ED.get_event_by_type('Shot')

,org_index,Team,Type,Subtype,Outcome,Period,Timestamp,Player,Start_x,Start_y,End_x,End_y
437,3217,England,Shot,NaN,Saved,1,00:09:11.146,Marcus Rashford,14.0000,33.575,11.5500,33.745
643,3218,England,Shot,NaN,Off T,1,00:14:03.641,Philip Foden,19.7750,46.410,0.0000,38.675
731,3219,England,Shot,NaN,Off T,1,00:17:59.934,Harry Maguire,0.0000,46.410,0.0000,41.650
900,3220,England,Shot,NaN,Blocked,1,00:23:03.713,Marcus Rashford,19.0750,16.575,13.0375,23.205
1317,3221,England,Shot,NaN,Off T,1,00:37:12.383,Philip Foden,12.6875,40.290,0.0000,28.220
1343,3222,Wales,Shot,NaN,Blocked,1,00:38:12.492,Joe Allen,82.3375,28.050,84.7875,28.645
1372,3223,England,Shot,NaN,Off T,1,00:38:38.910,Marcus Rashford,10.1500,29.750,0.0000,24.225
1547,3224,England,Shot,NaN,Blocked,1,00:43:51.135,Harry Kane,16.1875,30.345,15.5750,30.430
1701,3225,England,Shot,NaN,Blocked,1,00:47:16.169,Harry Kane,16.4500,23.460,14.6125,24.650
1707,3226,England,Shot,NaN,Saved,1,00:47:55.540,John Stones,6.3000,47.090,0.5250,33.915
1728,3227,Wales,Shot,NaN,Off T,1,00:49:36.290,Joe Allen,88.1125,24.395,105.0000,38.420
1899,3228,England,Shot,NaN,Goal,2,00:04:17.488,Marcus Rashford,20.9125,24.905,0.0000,37.230
1928,3229,England,Shot,NaN,Goal,2,00:05:53.871,Philip Foden,4.8125,28.985,0.0000,32.895
2062,3230,Wales,Shot,NaN,Saved,2,00:10:07.885,Kieffer Roberto Francisco Moore,78.8375,49.045,102.9875,35.105
2372,3231,England,Shot,NaN,Goal,2,00:22:40.407,Marcus Rashford,8.8375,42.755,0.0000,35.190
2517,3232,England,Shot,NaN,Saved,2,00:26:21.631,Marcus Rashford,8.4875,44.540,2.5375,38.675
2543,3233,Wales,Shot,NaN,Blocked,2,00:27:29.220,Brennan Johnson,91.4375,19.295,92.9250,20.740
2698,3234,England,Shot,NaN,Saved,2,00:31:38.542,Jude Bellingham,13.7375,27.880,4.3750,33.575
2701,3235,England,Shot,NaN,Wayward,2,00:31:40.568,Jude Bellingham,6.3875,24.905,4.0250,33.915
2704,3236,England,Shot,NaN,Off T,2,00:31:41.514,Philip Foden,3.4125,33.575,0.0000,28.730
2886,3237,Wales,Shot,NaN,Blocked,2,00:37:59.545,Harry Wilson,81.0250,23.290,87.5000,25.670
2920,3238,Wales,Shot,NaN,Off T,2,00:38:41.019,Rubin Colwill,86.0125,45.815,105.0000,33.405
3065,3239,Wales,Shot,NaN,Off T,2,00:41:15.054,Kieffer Roberto Francisco Moore,89.3375,38.590,105.0000,28.900
3197,3240,England,Shot,NaN,Post,2,00:45:53.744,John Stones,4.9000,37.315,0.0000,36.040
3299,3241,England,Shot,NaN,Blocked,2,00:48:25.378,Philip Foden,7.8750,41.225,6.9125,40.120